.avatar {
  padding: 7px;
}

.avatar-big {
  width: 100px;
  height: 100px;
  margin: 10px auto;
}

.nav-row {
  display: flex;
  align-items: center;
  border-bottom: 0.1em solid grey;
  margin-right: 20px;
}

.nav-link {
  text-decoration: none;
  color: inherit;
}
